        <header class="masthead" role="banner">
            <div class="s-page-width"><div class="wrapper wrapper-content">
                <a class="logo" href="/" title="Nathan Lantieri for City Council">
                    <img src="/ui/img/logo.svg" alt="Nathan Lantieri for City Council" />
                </a>
                <nav role="navigation" id="nav-primary">
                    <ul>
                        <li><a href="/platform/">Platform</a></li>
                        <li><a href="/news/">News</a></li>
                        <li><a href="/contact/">Contact</a></li>
                        <li><a class="button" href="https://secure.anedot.com/nate-lantieri-for-city-council/donate" target="_blank"><span>Contribute</span></a></li>
                    </ul>
                </nav>
                <button aria-expanded="false" aria-controls="nav-primary" id="menu-toggle" class="menu-toggle"><div class="menu-icon">
                    <div class="one">&nbsp;</div>
                    <div class="two">&nbsp;</div>
                    <div class="three">&nbsp;</div>
                </div></button>
            </div></div>
        </header>