<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nathan Lantieri for City Council</title>
    <!--[if gte IE 11]><!-->
    <link rel="stylesheet" href="/ui/css/styles.css">
    <!-- <![endif]-->
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-192x192.png" sizes="192x192" />
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-64x64.png" sizes="64x64" />
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-32x32.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-192x192.png" />
    <meta property="og:site_name" content="Nathan Lantieri for City Council" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.progressiveparty.org/" />
    <meta property="og:title" content="Nathan Lantieri for City Council" />
    <meta property="og:description" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@progparty" />
    <meta name="twitter:creator" content="@progparty" />
    <meta name="twitter:creator:id" content="125980885" />
    <meta name="twitter:url" content="https://www.progressiveparty.org/" />
    <meta name="twitter:title" content="Nathan Lantieri for City Council" />
    <meta name="twitter:description" content="" />
</head>
<body><a class="skip" href="#main">Skip to content</a>
    <div class="outer">
        <header class="masthead" role="banner">
            <div class="s-page-width"><div class="wrapper wrapper-content">
                <a class="logo" href="/" title="Nathan Lantieri for City Council">
                    <span>Nathan Lantieri</span>
                    <span><span>for</span></span>
                    <span>City Council</span>
                    <span>Burlington</span>
                </a>
                <nav role="navigation">

                </nav>
            </div></div>
        </header>
        <div class="outer-content">
            <main id="main" role="main">

            </main>
{% include footer.html %}
        </div>
    </div>
{% comment %}
    <script type="text/javascript">
        const element = document.getElementById('jumpto');
        const link = document.getElementById('jumpto-jumplink');

        const intersectionObserver = new IntersectionObserver((entries) => {
            let [entry] = entries;
            if (entry.isIntersecting) {
                setTimeout(() => element.focus(), 500)
            }
        });
        // start observing
        intersectionObserver.observe(craft);

        link.addEventListener('click', (e)=>{
            e.preventDefault();
            element.scrollIntoView(
                {block: 'start', behavior: 'smooth'}
            );
        });
    </script>
{% endcomment %}
</body>
</html>