<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nathan Lantieri for City Council</title>
    <!--[if gte IE 11]><!-->
    <link rel="stylesheet" href="/ui/css/styles.css">
    <!-- <![endif]-->
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-192x192.png" sizes="192x192" />
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-64x64.png" sizes="64x64" />
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-32x32.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-192x192.png" />
    <meta property="og:site_name" content="Nathan Lantieri for City Council" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.progressiveparty.org/" />
    <meta property="og:title" content="Nathan Lantieri for City Council" />
    <meta property="og:description" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@progparty" />
    <meta name="twitter:creator" content="@progparty" />
    <meta name="twitter:creator:id" content="125980885" />
    <meta name="twitter:url" content="https://www.progressiveparty.org/" />
    <meta name="twitter:title" content="Nathan Lantieri for City Council" />
    <meta name="twitter:description" content="" />
</head>
<body class="{{ page.class }}"><a class="skip" href="#main">Skip to content</a>
    <div class="outer">
        <header class="masthead" role="banner">
            <div class="s-page-width"><div class="wrapper wrapper-content">
                <a class="logo" href="/" title="Nathan Lantieri for City Council">
                    <img src="/ui/img/logo.svg" alt="Nathan Lantieri for City Council" />
                </a>
                <nav role="navigation" id="nav-primary">
                    <ul>
                        <li><a href="/platform/">Platform</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="/contact/">Contact</a></li>
                        <li><a class="button" href="/contribute/"><span>Contribute</span></a></li>
                </nav>
                <button aria-expanded="false" aria-controls="nav-primary" id="menu-toggle" class="menu-toggle"><div class="menu-icon">
                    <div class="one">&nbsp;</div>
                    <div class="two">&nbsp;</div>
                    <div class="three">&nbsp;</div>
                </div></button>
            </div></div>
        </header>
        <div class="outer-content">
{{ content }}
{% include footer.html %}
        </div>
    </div>
    <script type="text/javascript" src="/ui/js/script.js"></script>
{% comment %}
    <script type="text/javascript">

    </script>
{% endcomment %}
</body>
</html>