<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body class="{{ page.class }}"><a class="skip" href="#main">Skip to content</a>
    <div class="outer">
{% include header.html %}
        <div class="outer-content">
            <main id="main" role="main">
                <div class="module m-hero">
                    <div class="s-page-width">
                        <div class="wrapper">
                            <div class="caption">
                                {{ page.caption }}
                            </div>
                        </div>
                    </div>
                </div>
                <style type="text/css">
                    .m-hero {
                        background-image: url('{{ page.hero }}');
                    }
                </style>
                <div class="module m-text-photo">
                    <div class="s-page-width">
                        <div class="wrapper content">
                            <div>
                                <div class="image-deco">
                                    <img src="{{ page.sidebarPhoto }}" alt="" />
                                    <div><!--
                                        --><div><!-- decorator --></div><!--
                                        --><div><!-- decorator --></div><!--
                                        --><div><!-- decorator --></div><!--
                                        --><div><!-- decorator --></div><!--
                                    --></div>
                                </div>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/NateLantieriBTV"><img src="/ui/img/facebook.svg" alt="Facebook" /></a>

                                    <a href="https://www.instagram.com/nateforbtv/"><img src="/ui/img/instagram.svg" alt="Instagram" /></a>
                                </div>
                            </div>
                            <div>
                                {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
{% include footer.html %}
        </div>
    </div>
    <script type="text/javascript" src="/ui/js/script.js"></script>
{% comment %}
    <script type="text/javascript">

    </script>
{% endcomment %}
</body>
</html>