---
# empty front matter
---

@import "fonts";
@import "vars";
@import "mixins";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    zoom: 1;
}

section, main, nav, header, footer, article {
    display: block;
}

body {
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    background: $color-body-bg;
    color: $color-text;
    // @include font('regular');
    font-family: system-ui, BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    @include remify('font-size', 16px);
    & > a[href='#main'] {
        @include accessibility;
    }
    position: relative;
}

b, strong {
    @include font('bold');
}
i, em {
    @include font('italic');
}

a {
    // color: inherit;
    /*color: $color-link;*/
    text-decoration: none;
    transition: .2s all;
    &:hover {
        /*color: $color-orange;*/
    }
    img {
        border: 0;
    }
}

img {
    height: auto;
    width: 100%;
}

.content p:not(:last-child),
.content ul:not(:last-child),
.content ol:not(:last-child),
.content blockquote {
    margin-bottom: 1em;
}
.content p,
.content li {
    line-height: 1.5em;
}
.content ul,
.content ol {
    padding-left: 1em;
}
.content li {
    margin-bottom: .5em;
}

.s-full-width {
    width: 100%;
}
.s-page-width {
    margin-right: auto;
    margin-left: auto;
    @include remify('max-width', $page-width);
    width: 100%;
}
.wrapper {
    padding-right: $page-gutter;
    padding-left: $page-gutter;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
}

.masthead {
    // text-align: center;
    width: 100%;
    .wrapper {
        position: relative;
    }
    a {
        color: $color-purple;
        &:hover {
            color: $color-pink;
        }
    }
    .logo {
        background-color: $color-purple;
        display: inline-block;
        left: 0;
        position: absolute;
        top: 0;
        transition: .1s all;
        @include remify('width', 280px);
        z-index: 8;
    }
    nav {
        @include font('montserratbold');
        @include remify('font-size', 14px);
        letter-spacing: .1em;
        text-transform: uppercase;
        ul {
            list-style: none;
            a {
                align-items: center;
                display: flex;
                justify-content: center;
                &.button {
                    span {
                        background-color: $color-pink;
                        display: inline-block;
                        color: white;
                        @include remify('padding-top', 8px);
                        @include remify('padding-right', 12px);
                        @include remify('padding-bottom', 8px);
                        @include remify('padding-left', 12px);
                        transition: .2s all;
                    }
                    &:hover {
                        background-color: transparent;
                        span {
                            background-color: $color-purple;
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width: $breakpoint-nav-max) {
        .wrapper {
            @include remify('padding-top', 80px);
        }
        .logo {
            width: 100%;
            img {
                @include remify('max-width', 280px);
            }
        }
        nav {
            max-height: 0;
            transition: .2s all;
            &.open {
                max-height: 500px;
                transition: .5s all;
            }
            ul {
                @include remify('padding-top', 50px);
                @include remify('padding-bottom', $gutter);
                li {
                    &:not(:first-of-type) {
                        @include remify('margin-top', $gutter-half);
                    }
                }
            }
        }
    }
    @media all and (min-width: $breakpoint-nav-min) {
        @include remify('height', 80px);
        .logo {
            left: 11px;
            &:hover {
                transform: scale(1.125);
            }
        }
        nav {
            ul {
                align-items: center;
                display: flex;
                flex-direction: row;
                position: absolute;
                right: 8px;
                a {
                    @include remify('height', 80px);
                    @include remify('padding-right', $gutter-half);
                    @include remify('padding-left', $gutter-half);
                }
            }
        }
    }

    .menu-toggle {
        background: transparent;
        border: 0;
        // color: $color-blue;
        cursor: pointer; cursor: hand;
        font-size: 12px; font-size: .75rem;
        height: 2.833333333em;
        line-height: 2.833333333em;
        position: absolute;
        right: 5px;
        top: 15px;
        -webkit-transition: .05s ease-in-out;
        -moz-transition: .05s ease-in-out;
        -o-transition: .05s ease-in-out;
        transition: .05s ease-in-out;
        z-index: 9;
        -webkit-appearance: none;
        @media all and (min-width: $breakpoint-nav-min) {
            display: none;
        }
        .menu-icon {
            height: 40px;
            width: 40px;
            & > div {
                background: white;
                border-radius: 3px;
                font-size: 12px;
                height: 3px;
                left: 5px;
                line-height: 3px;
                position: absolute;
                width: 30px;
                -webkit-transition: .1s ease-in-out;
                -moz-transition: .1s ease-in-out;
                -o-transition: .1s ease-in-out;
                transition: .1s ease-in-out;
            }
            div:nth-of-type(1) {
                top: 11px;
            }
            div:nth-of-type(2) {
                top: 20px;
            }
            div:nth-of-type(3) {
                top: 29px;
            }
        }
        &.open {
            div:nth-of-type(1) {
                color: white;
            }
            .menu-icon {
                div:nth-of-type(1) {
                    top: 20px;
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    transform: rotate(135deg);
                }
                div:nth-of-type(2) {
                    opacity: 0;
                    right: -30px;
                }
                div:nth-of-type(3) {
                    top: 20px;
                    -webkit-transform: rotate(-135deg);
                    -moz-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                }
            }
        }
    }
}

.module {
    @include remify('padding-top', $vert3);
    @include remify('padding-bottom', $vert3);
}

.m-hero {
    background-position: center center;
    background-size: cover;
    @include remify('min-height', 400px);
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
    .caption {
        background-image: url('/ui/img/purple-angle.svg');
        background-position: right top;
        background-repeat: no-repeat;
        background-size: 100% auto;
        bottom: 0;
        color: white;
        @include remify('padding-top', 120px);
        @include remify('padding-right', $gutter);
        @include remify('padding-bottom', $gutter);
        padding-left: 25%;
        position: absolute;
        right: 0;
        text-align: right;
        width: 100%;
    }
    @media all and (min-width: $breakpoint-nav-min) {
        @include remify('min-height', 600px);
        .caption {
            @include remify('padding-top', 200px);
        }
    }
}

.m-text-photo {
    div:first-of-type {
        @include remify('margin-bottom', $gutter);
        img {
            display: block;
            @include remify('max-width', 320px);
            margin-right: auto;
            margin-left: auto;
        }
    }
    @media all and (min-width: $breakpoint-nav-min) {
        .wrapper {
            display: flex;
            flex-direction: row-reverse;
            & > div:nth-of-type(1) {
                flex-basis: 30%;
                max-width: 30%;
                img {
                    margin-right: 0;
                }
            }
            & > div:nth-of-type(2) {
                flex-basis: 70%;
                max-width: 70%;
                @include remify('padding-right', $gutter-x2);
            }
        }
        .clipped & .wrapper {
            & > div:nth-of-type(1) {
                img {
                    clip-path: polygon(0 1%, 99% 17.1%, 100% 100%, 0 82.9%);
                }
            }
        }
    }
}

footer {
    background-color: #efefef;
    text-align: center;
}